{% extends 'base.html'%}
{% block title %} about  {% endblock title%}
{% block body %}
<img src="https://media.istockphoto.com/photos/modern-restaurant-interior-design-picture-id1211547141?k=20&m=1211547141&s=612x612&w=0&h=KiZX3NBZVCK4MlSh4BJ8hZNSJcTIMbNSSV2yusw2NmM=" alt="img" class="gee">
<h1 style="text-align:center"> About Us </h1>
<p class="container"><i>

    Since our modest beginnings in 2005 with a little space in Toronto’s stylish Yorkville locale, Rich Table  ‘s development has been enlivened with the energy to cook and serve solid, Indian-roused takeout food.
    
    In contrast to other Indian eateries, Rich Table  was made with the explicit expectation to appear as something else.<br><br>
    
    We realize numerous individuals love Indian sustenance, yet a large number of them loathe or are unconscious of the regularly unfortunate fixings that make run-of-the-mill Indian nourishment taste so great.
    
    Our menu highlights things that utilization the sound and fragrant flavors, however, forgets the stuffing ghee, spread, oil, and overwhelming cream.<br><br>
    
    Rich Table  has developed to incorporate four superb takeout areas in Toronto with additional to come sooner rather than later. Our group takes pride in the way that we can furnish our new and faithful clients with extraordinary tasting Indian-roused nourishment that is not normal for that at some other Indian eatery you visit.
    
    We perceive that a few people are as yet searching for the run-of-the-mill Indian nourishment, and that is fine with us. Our disclaimer is that on the off chance that you’re anticipating overwhelming, slick, undesirable Indian nourishment, Rich Table  isn’t the place for you.
    
    Check out the trending hashtags for restaurant business <br><br>
    
    Our expectation is that you’ll join the developing pattern that such a large number of others have officially found and you will attempt Rich Table  as a remarkable option to other Indian eateries as well as to all other solid sustenance alternatives out there!
<i/>
</p>
{% endblock body %}