{% extends 'base.html'%}
{% block title %} services  {% endblock title%}
{% block body %}

<img src="https://images.pexels.com/photos/262978/pexels-photo-262978.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="img" class="gee" >

<div class="card-group">
    <div class="card">
      <img class="card-img-top mee" src="https://source.unsplash.com/random/900×700/?food,icecreams" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Icecream</h5>
        <p class="card-text">We provide wide range varieties . Do try it out right now .</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top mee" src="https://source.unsplash.com/random/900×700/?food,burgers     " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Burgers</h5>
        <p class="card-text">We provide wide range varieties . Do try it out right now .</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top mee" src="https://source.unsplash.com/random/900×700/?food,pizzas" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pizza</h5>
        <p class="card-text">We provide wide range varieties . Do try it out right now .</p>
      </div>
    </div>
  </div>
<div class="card-group">
    <div class="card">
      <img class="card-img-top mee" src="https://source.unsplash.com/random/900×700/?food,desserts" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Desserts</h5>
        <p class="card-text">We provide wide range varieties . Do try it out right now .</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top mee" src="https://source.unsplash.com/random/900×700/?food,salads  " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Salads</h5>
        <p class="card-text">We provide wide range varieties . Do try it out right now .</p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top mee" src="https://source.unsplash.com/random/900×700/?food,bakeries " alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bakeries</h5>
        <p class="card-text">We provide wide range varieties . Do try it out right now .</p>
      </div>
    </div>
  </div>
{% endblock body %}